.calendar-day {
    padding: 10px 0px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    .mu-card-header-title {
        padding-right: 0px;
    }

    .mu-card {
        display: flex;
        align-items: flex-start;
        min-height: 52px;

        &.mu-card__raised {
            z-index: 10;
            min-height: 80px;
            border: solid 3px var(--color-orange);
        }
    }

    &.is-festivity {
        .mu-card {
            background-color: var(--color-orange);
        }

        .calendar-day-head .mu-card-title {
            color: var(--color-white);
        }

        .calendar-day-body {
            border-left-color: var(--color-yellow);
        }
    }

    .calendar-day-head {
        min-width: 70px;
        padding: 15px;
        padding-right: 0px;
        text-transform: uppercase;
    }

    .calendar-day-body {
        flex-grow: 1;
        padding: 17px 50px 10px 17px;

        .row {
            margin: 0px;

            &.row-orders {
                min-height: 25px;
            }

            &.row-notes {
                margin-left: -70px !important;

                &:not(:empty) {
                    padding-top: 10px;
                    border-top: dashed 1px;
                }
            }
        }
    }

    &.is-weekend .calendar-day-body .row.row-notes:not(:empty),
    &.is-festivity .calendar-day-body .row.row-notes:not(:empty) {
        border-top-color: var(--color-gray);
    }

    .calendar-day-body {
        .calendar-day-single {
            position: relative;
            padding: 5px;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            background: var(--color-gray);

            &.type-order {
                border: solid 2px var(--color-gray);
            }
        }

        .row-trips .calendar-day-single.type-note {
            border-color: var(--color-blue);
            background: var(--color-blue) !important;
        }

        .row-replacements .calendar-day-single.type-note {
            border-color: var(--color-green);
            background: var(--color-green) !important;
        }

        .calendar-day-single.type-note {
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 12px;
            text-align: left;
            padding: 0px;
            margin-right: 0px;
        }

        .row-trips .calendar-day-single.type-note .calendar-day-single-content {
            color: var(--color-white);
        }

        .row-replacements .calendar-day-single.type-note .calendar-day-single-content {
            color: var(--color-white);
        }

        .calendar-day-single.type-note {
            .calendar-day-single-content {
                display: inline-block;
                padding: 5px;
            }

            &.packing-2,
            &.packing-4 {
                background: var(--color-yellow);
            }

            &.packing-1,
            &.packing-3 {
                background: var(--color-orange);
                color: var(--color-white);
            }

            .calendar-day-single-content-id {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0px 6px;
                font-size: 18px;
                line-height: 0px;
                text-decoration: underline;
                border: solid 2px;
                background: var(--color-gray);
            }
        }

        .row-notes:not(.row-trips) .calendar-day-single.type-note:not(.clone) .calendar-day-single-content-id {
            border: solid 2px var(--color-gray);
        }

        .row-trips .calendar-day-single .calendar-day-single-content-id {
            text-decoration: none;
            color: var(--color-blue) !important;
            border-color: var(--color-blue) !important;
        }

        .row-replacements .calendar-day-single .calendar-day-single-content-id {
            text-decoration: none;
            color: var(--color-green) !important;
            border-color: var(--color-green) !important;
        }

        .calendar-day-single {
            &.type-note {

                &.packing-1 .calendar-day-single-content-id,
                &.packing-3 .calendar-day-single-content-id {
                    color: var(--color-orange);
                }

                &.packing-2 .calendar-day-single-content-id {
                    color: var(--color-yellow);
                }

                &.packing-4 .calendar-day-single-content-id {
                    color: var(--color-yellow);
                    border-color: var(--color-yellow);
                }

                &.packing-3 .calendar-day-single-content-id {
                    border-color: var(--color-orange);
                }

                &.with-transport .calendar-day-single-content-id {
                    text-decoration: none;
                }
            }

            &.type-order {
                &.packing-1 {
                    color: var(--color-orange);
                }

                &.packing-2 {
                    color: var(--color-yellow);
                }

                &.packing-3 {
                    color: var(--color-orange);
                    border: solid 2px;
                }

                &.packing-4 {
                    color: var(--color-yellow);
                    border: solid 2px;
                }

                &.with-transport .calendar-day-single-content {
                    border-bottom: solid 2px transparent;
                }

                .calendar-day-single-content {
                    position: relative;
                    display: inline-block;
                    border-bottom: solid 2px;
                }
            }

            .mu-badge-container {
                position: absolute;
                top: -7px;
                right: -7px;

                .mu-badge {
                    width: 15px;
                    height: 15px;
                    padding: 0px;
                    border-radius: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }

    .calendar-day-action {
        position: absolute;
        top: 0px;
        right: 0;
        height: 100%;
        padding: 0px;
        margin: 0;

        .mu-button {
            width: 30px;
            height: 100%;
            border-radius: 0px;
        }
    }
}

@media print {

    @page {
        size: A3 portrait;
    }

    .calendar-day {
        padding: 3px 0px;

        .mu-card {
            border: solid 1px;
            box-shadow: none;

            &.mu-card__raised {
                min-height: 52px;
                border: solid 1px;

                .mu-card-header-title .mu-card-sub-title {
                    display: none;
                }
            }
        }

        .calendar-day-body {
            padding: 10px 10px 5px 10px;
        }
    }

    /*
.calendar-day.is-weekend .mu-card {
    min-height: unset;
    height: 35px;
}
.calendar-day.is-weekend .calendar-day-head {
    padding: 5px 15px;
}
.calendar-day + .calendar-day.is-weekend {
    width: 50%;
    float: left;
    padding-right: 5px;
}
.calendar-day.is-weekend + .calendar-day.is-weekend {
    padding-right: 0px;
}
.calendar-day.is-weekend + .calendar-day:not(.is-weekend) {
    clear: both;
}
*/

    .calendar .calendar-body .col-content {
        column-gap: 6px;
    }

    .calendar-day .calendar-day-body {
        .calendar-day-single {
            padding: 3px 5px 3px;
            line-height: 22px;
            border-width: 1px !important;

            &.type-order {
                border-color: transparent;
                background: transparent;

                .calendar-day-single-content {
                    border-width: 1px;
                }
            }

            &.type-note .calendar-day-single-content {
                padding: 0px 5px;
                font-size: 13px;
            }
        }

        .row.row-notes {
            padding: 0px !important;
            border: 0px !important;
        }

        .calendar-day-single.type-note {
            margin-bottom: 5px;
        }

        .row.row-orders-note:not(:empty) {
            padding-bottom: 5px !important;
        }
    }
}
