.order-dialog {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;

    .mu-dialog {
        position: relative;
        width: 90%;
        max-width: 760px;
        min-height: calc(100vh - 20vw);
        padding-bottom: 20px;
        margin: 10vw auto 10vw;

        .loader {
            position: absolute;
            top: 76px;
            width: calc(100% - 50px);
            height: calc(100% - 159px);
        }

        .mu-dialog-actions {
            position: absolute;
            bottom: 18px;
            right: 15px;
        }

        .mu-dialog-title {
            padding: 28px 24px 20px;
        }

        .mu-dialog-body {
            padding-bottom: 0px;

            .mu-dialog-subtitle {
                margin: -15px 0px 30px;
            }

            .order-tools {
                display: flex;
                align-items: center;
                position: absolute;
                top: 20px;
                right: 27px;
            }

            > form {
                .form-head {
                    background: transparent;

                    .mu-tab-wrapper {
                        flex-direction: row;
                        min-height: unset;
                        padding: 10px 30px;

                        .mu-icon {
                            width: 24px;
                            margin-right: 10px;
                            margin-bottom: 0px;
                        }
                    }
                }
                
                .form-foot {
                    position: absolute;
                    bottom: 20px;
                    left: 25px;
                    width: calc(100% - 50px);
                    padding: 0px;
                    margin: 0px;
                }

                .form-body {
                    padding: 30px 0px 65px;
                    
                    .mu-form-item {
                        .mu-form-item-help {
                            position: relative;
                            order: 3;
                            margin-top: 5px;
                        }
                        textarea {
                            width: 100%;
                        }
                    }

                    .form-table {
                        width: 100%;

                        tr {
                            display: flex;

                            td {
                                display: flex;
                                flex-grow: 1;
                                width: 50%;
                                border: solid 1px;
                                text-align: left;
                                overflow: hidden;
                                margin: 1px;

                                .td-wrap {
                                    display: flex;
                                    width: 100%;

                                    &.sub-td-wrap {
                                        display: flex;
                                        flex-wrap: wrap;

                                        .sub-td {
                                            flex-grow: 1;
                                            display: flex;
                                            flex-direction: column;
                                            width: calc((100% - 155px)/6);

                                            &:first-of-type {
                                                max-width: 155px;
                                                min-width: 155px;
                                            }

                                            &:not(:first-of-type) {
                                                text-align: center;

                                                .mu-form-item input {
                                                    text-align: center;
                                                }
                                            }

                                            &:not(:last-of-type) .mu-form-item {
                                                border-right: solid 1px;
                                            }

                                            .mu-form-item {
                                                &.mu-form-item__error {
                                                    display: flex;
                                                    flex-direction: column-reverse;
                                                }

                                                input {
                                                    flex: none;
                                                }
                                            }

                                            &:last-of-type > b {
                                                border-right: 0px;
                                            }

                                            > b {
                                                display: inline-block;
                                                padding: 10px;
                                                border-right: solid 1px;
                                                white-space: nowrap;
                                                background: var(--color-gray);
                                            }
                                        }
                                    }

                                    > b {
                                        display: inline-block;
                                        max-width: 155px;
                                        min-width: 155px;
                                        padding: 10px;
                                        border-right: solid 1px;
                                        white-space: nowrap;
                                        background: var(--color-gray);
                                    }
                                }

                                &[colspan="2"]:nth-of-type(2) .td-wrap > b {
                                    min-width: 96px;
                                }
                            }

                            &.tr-note td .td-wrap {
                                background-color: var(--color-gray);

                                > b {
                                    border-right: 0px;
                                }

                                .mu-form-item {
                                    display: flex;
                                    justify-content: center;
                                    border-left: solid 1px var(--color-black);
                                    background-color: var(--color-white);
                                    /*flex-direction: row;*/
                                    justify-content: flex-start;
                                    min-height: 200px;
                                }

                                /*flex-direction: row;*/
                                justify-content: flex-start;
                                min-height: 200px;

                                .mce-tinymce {
                                    /*flex-direction: row;*/
                                    justify-content: flex-start;
                                    min-height: 200px;

                                    iframe {
                                        height: 170px !important;
                                    }
                                }

                                .quillWrapper {
                                    width: 100%;

                                    .ql-toolbar {
                                        display: none;
                                    }
                                }
                            }

                            td {
                                .mu-form-item {
                                    flex-grow: 1;
                                    display: inline-block;
                                    height: auto;
                                    min-height: unset;
                                    padding: 5px 10px;
                                    margin: 0;

                                    p {
                                        padding: 5px 0px;
                                        margin-bottom: 0px;
                                    }
                                }

                                .td-wrap .mu-form-item.mu-form-item-print {
                                    display: none;
                                }

                                .mu-form-item.order-index-wrap {
                                    width: 50px;
                                    padding: 0px 10px 0px 0px;
                                    margin-left: 5px;

                                    .mu-text-field {
                                        display: block;

                                        .mu-text-field-input {
                                            text-align: center;
                                        }
                                    }
                                }

                                .mu-input .mu-select-content {
                                    height: auto;
                                    min-height: unset;
                                }

                                .mu-form-item {
                                    .mu-form-item-help {
                                        position: relative;
                                        left: 0px !important;
                                    }

                                    .mu-text-field-input {
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }

                    .form-gallery {
                        padding: 20px 4px 0px 4px;

                        .form-uploads {
                            .image-container {
                                width: 100%;

                                &:hover {
                                    background: var(--color-gray);
                                }

                                .preview-image {

                                    .show-image {
                                        height: 90%;

                                        img {
                                            max-width: none;
                                            max-height: 100%;
                                        }
                                    }
                                }

                                .image-bottom {
                                    position: absolute;
                                    z-index: 10;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media print {

    html,
    body {
        width: 100%;
        min-width: 1024px;
        padding-top: 0px;
        background-color: #FFFFFF;
    }

    #app.view-ordine {
        opacity: 0;
    }

    .order-dialog,
    .order-dialog ~ .mu-overlay {
        display: none;
        background: #FFFFFF;
    }

    .order-dialog.order-dialog-view,
    .order-dialog.order-dialog-view ~ .mu-overlay {
        display: block;
    }

    .order-dialog .mu-dialog {
        width: 100%;
        max-width: unset;
        min-width: 1024px;
        margin: 0;
        box-shadow: none;
        border: 0;
    }

    .order-dialog .mu-dialog .mu-dialog-title,
    .order-dialog .mu-dialog .mu-dialog-body .mu-dialog-subtitle {
        margin: 0px 0px -20px;
        color: var(--color-red);
        font-family: Roboto, Lato, sans-serif;
        font-size: 2.5em;
        font-weight: 600;
        line-height: 1.5;
    }

    .order-dialog .mu-dialog .mu-dialog-body .mu-dialog-subtitle {
        position: absolute;
        top: 27px;
        right: 30px;
        font-size: 2.5em;
    }

    .order-dialog .mu-dialog .mu-dialog-body .mu-dialog-subtitle:first-of-type::before {
        content: attr(attr-before);
        font-size: 0.6em;
    }

    .order-dialog .mu-dialog .mu-dialog-body .mu-dialog-subtitle > b {
        display: none;
    }

    .order-dialog .mu-dialog .mu-dialog-actions,
    .order-dialog .mu-dialog .mu-dialog-body > .order-tools,
    .order-dialog .mu-dialog .mu-dialog-body > form .form-head,
    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-uploads,
    .order-dialog .mu-dialog .mu-dialog-body > form .form-foot {
        display: none;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td {
        width: calc((100% - 230px)/6);
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap .sub-td > b,
    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap > b {
        padding: 15px 10px 10px !important;
        font-size: 20px;
        text-transform: uppercase;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td:first-of-type,
    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td[colspan="2"]:nth-of-type(1) .td-wrap > b,
    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td[colspan="4"] .td-wrap > b {
        min-width: 230px !important;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td[colspan="2"]:nth-of-type(2) .td-wrap > b {
        min-width: 115px !important;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap > b > span {
        display: none;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .mu-form-item .mu-text-field-input,
    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .mu-form-item .mu-select-input,
    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .mu-form-item p {
        font-size: 25px;
        color: var(--color-black);
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .mu-select-action,
    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .mu-input-line {
        display: none;
    }
}

@media only screen and (max-width: 940px),
(min-device-pixel-ratio: 2) and (max-width: 1880px) {

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td:first-of-type {
        width: 100%;
        min-width: unset;
        max-width: unset;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td:last-of-type > b {
        border-right: solid 1px #000;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td {
        display: flex;
        flex-direction: row;
        width: 50%;
        text-align: left !important;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td {
        width: calc((100% - 185px)/6);
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap b {
        min-width: 185px;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap .sub-td:not(:first-of-type) b {
        border-top: solid 1px #000;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td .mu-form-item {
        border-right: 0px !important;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td:not(:first-of-type):nth-of-type(odd) > b {
        min-width: 70px;
        border-left: solid 1px #000;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td:not(:first-of-type) .mu-form-item {
        border-top: solid 1px #000;
    }
}

@media only screen and (max-width: 768px),
(min-device-pixel-ratio: 2) and (max-width: 1536px) {
    .order-dialog .mu-dialog .mu-dialog-body .btn-alert {
        right: 20px;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body {
        overflow-x: auto;
        padding-bottom: 175px;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td {
        flex-grow: 1;
        width: 100%;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td {
        width: calc((100% - 185px)/6);
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td[colspan="2"]:nth-of-type(2) .td-wrap b {
        min-width: 185px;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap-mobilefull {
        display: flex;
        flex-wrap: wrap;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap-mobilefull b {
        width: 100%;
        border-right: 0px;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-foot .mu-form-item-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: baseline;
    }
}

@media only screen and (max-width: 680px),
(min-device-pixel-ratio: 2) and (max-width: 1360px) {
    .order-dialog .mu-dialog {
        padding-top: 90px;
    }

    .order-dialog .mu-dialog .mu-dialog-title {
        padding-top: 0px;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body {
        padding-bottom: 15px;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-foot {
        position: relative;
        bottom: 0px;
        left: 0px;
        width: auto;
        margin-bottom: 40px;
    }

    .order-dialog .mu-dialog .mu-dialog-body .order-tools {
        justify-content: space-between;
        flex-direction: row-reverse;
        right: 0;
        width: 100%;
        padding: 0px 25px;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td {
        width: 100%;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td {
        width: calc((100% - 155px)/6);
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap b {
        min-width: 155px !important;
    }

    .order-dialog .mu-dialog .mu-dialog-body > form .form-body .form-table tr td .td-wrap.sub-td-wrap .sub-td:not(:first-of-type):nth-of-type(odd) > b {
        border-left: 0px;
    }

    .order-dialog .mu-dialog .mu-dialog-actions {
        bottom: 7px;
        right: auto;
        left: 24px;
    }

    .order-dialog .mu-dialog .mu-dialog-actions .mu-flat-button {
        background: var(--color-red);
        color: var(--color-gray);
    }
}
